CLAUDE.md
.claude/
backend/cache/
dataset/
simulation/models
simulation/networks
.agent/
*.sh

# Ignore large files of Digital Twin
backend/app/data/traffic_video
backend/app/digital_twin/yolo11x.pt
services/digital_twin/data/traffic_video/
services/digital_twin/model/*.pt